h4{
  line-height: 1.4em;
}
.left{
  float: left;
}

a:link {
    color: #6B6B6B;
}

a:hover {
    color: black;
    text-decoration: none;
}

a:visited {
    color: #6B6B6B;
}

a:active {
    color: #6B6B6B;
}

h1{
    font-family: Futura, sans-serif;
}

body{
   font-family: Futura, sans-serif;
   background-color: white;
   padding: 0px;
   margin: 0px;
   width:100%;
   font-size: 15px;
   letter-spacing: .04em;
 }

 @media only screen and (min-width: 370px) {
        body{
        font-size: 11pt;
        }
}

p{
    font-family: Futura, sans-serif;
    font-size: 14pt;
}

.nav{
  font-family: Futura, sans-serif;
    margin-top: 10px;
    height: 90px;
    background-color: white;
}

.nav-text{
  font-family: Futura, sans-serif;
    padding-top: 30px;
}

.logo{
    padding-top: 6px;
    padding-bottom: 5px;
    padding-left: 6px;
}

.headline{
  font-family: Futura, sans-serif;
    color: white;
    font-size: 40pt;
    padding-top: 2.75em;
    margin-bottom: 2.75em;
}

.info{
  font-family: Futura, sans-serif;
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: white;
}

.categories{
    font-size: .85em;
    padding-top: 3em;
    padding-bottom: 3em;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.025); }

.portfolio-row{
    margin-top: 32px;
}

.portfolio-img{
  margin-top: 1em;
}

.description{
  font-family: Futura, sans-serif;
  font-size: 11pt;
}

.footer{
  font-family: Futura, sans-serif;
  padding-top:4em;
  padding-bottom:2em;
}

#gradient{
  width: 100%;
  height: 1200px;
  padding: 0px;
  margin: 0px;
}





/* MOBILE SPECIFIC CSS */

.nav-mobile{
  font-family: Futura, sans-serif;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  background-color: white;
  font-size: 3em;
}

.description-mobile{
  font-family: Futura, sans-serif;
  padding: 4em;
}