@font-face {
    font-family: 'Proxima Nova';
    src: url(ProximaNova-Regular.otf);
  }

.left{
  float: left;
}

a:link {
    color: #333333;
}

a:hover {
    color: #333333;
    text-decoration: none;
}

a:visited {
    color: #333333;
}

a:active {
    color: #333333;
}

h1{
    font-family: 'Proxima Nova', sans-serif;
}

body{
   font-family: 'Proxima Nova', Futura;
   background-color: white;
   padding: 0px;
   margin: 0px;
   width:100%;
   font-size: 1.8em;
   letter-spacing: .04em;
 }

p{
    font-family: Calibre;
    font-size: 14pt;
}

.logo-mobile{
  padding-left: 3em;
}

.nav-mobile{
  font-family: Calibre;
    margin-top: 15px;
    padding-left: 15px;
    margin-bottom: 15px;
    height: 300px;
    background-color: white;
    font-size: 4em;
    line-height: 1.75em;
}

.nav{
  font-family: Calibre;
    margin-top: 10px;
    height: 90px;
    background-color: white;
}

.nav-text{
  font-family: Calibre;
    padding-top: 30px;
}

.logo{
    padding-top: 6px;
    padding-bottom: 5px;
    padding-left: 6px;
}

.headline{
  font-family: Calibre;
    color: white;
    font-size: 40pt;
    padding-top: 2.75em;
    margin-bottom: 2.75em;
}

.info{
  font-family: Calibre;
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: white;
}

.categories{
    font-size: .75em;
    padding-top: 3em;
    padding-bottom: 3em;
}

.grow { transition: all .2s ease-in-out; }

.grow:hover { transform: scale(1.025); }

.portfolio-row{
    margin-top: 32px;
}

.first-portfolio-img{
  margin-top: 1.3em;
}

.description{
  font-family: Calibre;
  font-size: 11pt;
}

.home-footer{
    color: white;
    padding-top:4em;
}

.footer{
  font-family: Calibre;
    padding-top:4em;
    padding-bottom:2em;
}

#gradient
{
  width: 100%;
  height: 1200px;
  padding: 0px;
  margin: 0px;
}
